<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Services</h4>
                        <p class="card-category">List of services</p>
                    </div>
                    <div class="card-body">
                        <mat-card>
                            <mat-card-content>
                                <div class="people-header">
                                    <div class="row">
                                        <div class="col-md-10 col-xs-12">
                                            <mat-form-field>
                                                <label>
                                                    <input matInput (keyup)="applyFilter($event)"
                                                        placeholder="Filter Services">
                                                </label>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-2 col-xs-12 text-right">
                                            <button type="button" mat-raised-button class="btn btn-primary"
                                                (click)="createService()">Create Service
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <div class="people-container" *ngIf="isLoading; else loader">

                                    <mat-table [dataSource]="dataSource" matSort matSortActive="Name"
                                        matSortDirection="asc">

                                        <!-- Name Column -->
                                        <ng-container matColumnDef="Name">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header> NAME</mat-header-cell>
                                            <mat-cell *matCellDef="let row">
                                                {{row.Name}}
                                            </mat-cell>
                                        </ng-container>

                                        <!-- From Column -->
                                        <ng-container matColumnDef="From">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header> From</mat-header-cell>
                                            <mat-cell *matCellDef="let row"> {{row.From | date:"dd.MM.yyyy" }}
                                            </mat-cell>
                                        </ng-container>

                                        <!-- To Column -->
                                        <ng-container matColumnDef="To">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header> To</mat-header-cell>
                                            <mat-cell *matCellDef="let row"> {{row.To | date:"dd.MM.yyyy" }} </mat-cell>
                                        </ng-container>

                                        <!-- IsWeekly Column -->
                                        <ng-container matColumnDef="IsWeekly">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header> IsWeekly
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let row" style="overflow: unset;">
                                                <mat-checkbox disabled [(ngModel)]="row.IsWeekly"></mat-checkbox>
                                            </mat-cell>
                                        </ng-container>

                                        <!-- Weekday Column -->
                                        <ng-container matColumnDef="Weekday">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header> Weekday
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let row"> {{row.Weekday}} </mat-cell>
                                        </ng-container>

                                        <!-- Comment Column -->
                                        <ng-container matColumnDef="Comment">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header> Comment
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let row"> {{row.Comment}} </mat-cell>
                                        </ng-container>

                                        <!-- View Leaders -->
                                        <ng-container matColumnDef="ViewLeaders">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header> Leaders
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let row">
                                                <a [routerLink]="['/services/leaders', row.Id,row.Name]">View Leaders</a></mat-cell>
                                        </ng-container>

                                          <!-- View Subscription -->
                                          <ng-container matColumnDef="ViewSubscription">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header> Subscriptions
                                                </mat-header-cell>
                                                <mat-cell *matCellDef="let row">
                                                    <a [routerLink]="['/services/subscriptions', row.Id,row.Name]">View Subscriptions</a></mat-cell>
                                            </ng-container>

                                        <!-- Delete Update Column -->
                                        <ng-container matColumnDef="Actions">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header> Actions
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let row">
                                                <mat-icon (click)="editService(row)"
                                                    style="color: #f85032; cursor: pointer;">edit</mat-icon>
                                                <mat-icon (click)="removeService(row)"
                                                    style="color: #f85032; cursor: pointer;">delete</mat-icon>
                                            </mat-cell>
                                        </ng-container>

                                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                        <mat-row *matRowDef="let row; columns: displayedColumns;">
                                        </mat-row>
                                    </mat-table>

                                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                                </div>

                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #loader>
    <mat-spinner></mat-spinner>
</ng-template>