<h2 mat-dialog-title>Add Expense </h2>
<mat-dialog-content [formGroup]="form">
    <mat-form-field style="width: 100%">
        <mat-select placeholder="Choose expense type" formControlName="ExpenseTypeId">
            <mat-option *ngFor="let item of expenseTypes" [value]="item.Id">
                {{item.Name}}
            </mat-option>
        </mat-select>
        <mat-error *ngIf="hasError('ExpenseTypeId', 'required')">Expense type is required</mat-error>
    </mat-form-field>
    <mat-form-field style="width: 100%">
        <input matInput [matDatepicker]="picker" placeholder="Choose expense date" formControlName="ExpenseDate"
            id="ReceiptDate" readonly (click)="picker.open()">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="hasError('ExpenseDate', 'required')">Expense date is required</mat-error>
    </mat-form-field>
    <mat-form-field style="width: 100%">
        <input matInput placeholder="Amount" type="text" formControlName="Amount">
        <mat-error *ngIf="hasError('Amount', 'required')">Amount is required</mat-error>
    </mat-form-field>
    <mat-form-field style="width: 100%">
        <textarea matInput placeholder="Comment" formControlName="Comment"></textarea>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
    <button class="mat-raised-button" (click)="close()">Close</button>
    <button class="mat-raised-button mat-primary" [disabled]="!form.valid" (click)="save()">Save</button>
</mat-dialog-actions>