################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SmartChurch.CoreApi/SmartChurch/obj/Production/netcoreapp2.2
/SmartChurch.CoreApi/SmartChurch/bin/Production/netcoreapp2.2
/SmartChurch.CoreApi/.vs/SmartChurch/v16/Server/sqlite3
/SmartChurch.CoreApi/SmartChurch/bin/Release/netcoreapp2.2
/SmartChurch.CoreApi/SmartChurch/Properties/PublishProfiles
