<div class="auth-page">
  <div class="auth-page-container col-xs-12 col-md-7">
    <form class="auth-form" [formGroup]="formGroup">
      <mat-form-field>
        <mat-label>User Name</mat-label>
        <input matInput="matInput" name="username" placeholder="User Name" type="email" formControlName="Username" />
        <mat-icon matSuffix="matSuffix">email</mat-icon>
        <mat-error *ngIf="formGroup.get('Username').hasError('required')">Email is Required</mat-error>
        <mat-error *ngIf="formGroup.get('Username').hasError('pattern')">Email is not valid</mat-error>
        <mat-error *ngIf="formGroup.get('Username').hasError('minLength')">Email must be at least 6 characters
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Password</mat-label>
        <input [type]="hide ? 'password' : 'text'" formControlName="Password" matInput="matInput" name="password"
          placeholder="Password" />
        <mat-icon class="show-password" matSuffix="matSuffix" (click)="hide = !hide">
          {{hide ? 'visibility_off' : 'visibility'}}
        </mat-icon>
        <mat-error *ngIf="formGroup.get('Password').hasError('required')">Password is Required</mat-error>
      </mat-form-field>

      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <button mat-raised-button class="button button--primary" [disabled]="!formGroup.valid" (click)="login()">Login
          </button>
        </div>
        <div class="col-xs-12 col-sm-6 text-right">
          <button mat-raised-button class="button button--stroked" (click)="lazyLogin()">Lazy Login
          </button>
        </div>
      </div>
    </form>

  </div>
</div>
