<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1 *ngIf="selectedCountry?.Id; else prompt">
        Editing {{originalName}}
      </h1>
      <ng-template #prompt>
        <h1>Create</h1>
      </ng-template>
    </mat-card-title>
  </mat-card-header>
  <form #f="ngForm" (submit)="saved.emit(selectedCountry)">
    <mat-card-content>
      <mat-form-field>
        <input matInput type="text" name="name" placeholder="Name" [(ngModel)]="selectedCountry.Name" required>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button type="submit" mat-button [disabled]="f.invalid">Save</button>
      <button type="button" mat-button (click)="cancelled.emit(selectedCountry)">Cancel</button>
    </mat-card-actions>
  </form>
</mat-card>
