<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Edit Person</h4>
            <p class="card-category">Update your own profile</p>
          </div>
          <div class="card-body">
            <mat-card>
              <mat-card-content>
                <app-person-view [isNew]="false"></app-person-view>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

