:host {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  h1 {
    font-size: 1.4rem;
    letter-spacing: 1px;
  }
}
