<h2 mat-dialog-title>Add / Edit Subscription </h2>
<mat-dialog-content [formGroup]="form">
    <mat-form-field style="width: 100%">
        <mat-select placeholder="Leader" formControlName="PersonId">
            <mat-option *ngFor="let item of subscriptions" [value]="item.Id">
                {{item.Name}}
            </mat-option>
        </mat-select>
        <mat-error *ngIf="hasError('PersonId', 'required')">Subscription is required</mat-error>
    </mat-form-field>

</mat-dialog-content>
<mat-dialog-actions>
    <button class="mat-raised-button" (click)="close()">Close</button>
    <button class="mat-raised-button mat-primary" [disabled]="!form.valid" (click)="save()">Save</button>
</mat-dialog-actions>