<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Peoples</h4>
            <p class="card-category">List of Peoples</p>
          </div>
          <div class="card-body">
            <mat-card>
              <mat-card-content>
                <div class="people-header">
                  <div class="row">
                    <div class="col-md-10 col-xs-12">
                      <mat-form-field>
                        <label>
                          <input matInput (keyup)="applyFilter($event)" placeholder="Filter People">
                        </label>
                      </mat-form-field>
                    </div>
                    <div class="col-md-2 col-xs-12 text-right">
                      <button type="button" mat-raised-button class="btn btn-primary"
                              [routerLink]="['/people/create-person']">Create Person
                      </button>
                    </div>
                  </div>
                </div>

                <div class="people-container" *ngIf="isLoading; else loader">

                  <mat-table [dataSource]="dataSource" matSort matSortActive="Name" matSortDirection="asc">

                    <!-- Name Column -->
                    <ng-container matColumnDef="Name">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> NAME</mat-header-cell>
                      <mat-cell *matCellDef="let row">
                        <img mat-card-avatar class="people-image"
                             [src]="row.Picture" [alt]="row.Name" (error)="setDefaultImage(row)"/>
                        <a [routerLink]="['/people/person-details', row.Id]">
                          {{row.Name}}
                        </a>
                      </mat-cell>

                    </ng-container>

                    <!-- Telephone Column -->
                    <ng-container matColumnDef="PhoneNumber">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> PHONE NUMBER</mat-header-cell>
                      <mat-cell *matCellDef="let row"> {{row.PhoneNumber}} </mat-cell>
                    </ng-container>

                    <!-- Email Column -->
                    <ng-container matColumnDef="Email">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> EMAIL</mat-header-cell>
                      <mat-cell *matCellDef="let row"> {{row.Email}} </mat-cell>
                    </ng-container>

                    <!-- Delete Column -->
                    <ng-container matColumnDef="delete">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Remove Person</mat-header-cell>
                      <mat-cell *matCellDef="let row">
                        <mat-icon (click)="removePerson(row)" style="color: #f85032; cursor: pointer;">delete</mat-icon>
                      </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;">
                    </mat-row>
                  </mat-table>

                  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [length]="persons.length" ></mat-paginator>
                </div>

              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loader>
  <mat-spinner></mat-spinner>
</ng-template>
